.action-button {
  width: 160px;
  height: 48px;
  background-color: $button-blue-color;
  color: $white-color;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.headline__button {
  width: 158px;
  height: 48px;
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: $button-blue-color;
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}
