.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;

  @include for-large-down {
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__image {
        margin: 0;
        width: 66px;
        height: 60px;
      }

      &__item__text {
        margin-top: 20px;
        display: flex;
        align-items: center;
      }

      &__description {
        opacity: 0.6;
        line-height: 25px;
        font-size: 19px;
      }
    }
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
      width: 360px;
      font-size: 18px;
      line-height: 26px;
      margin-top: 26px;
      color: #2b292d99;
    }

    .logo__description {
      display: block;
    }
  }
}

.footer-navigation {
  @include for-large-up {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
  }
}

.downloads {
  display: flex;
  margin-top: 25px;

  @include for-large-down {
    display: flex;
    margin-top: 31px;
    padding-bottom: 40px;
    justify-content: center;
    border-bottom: 1px solid #e3e3e3;
  }

  @include for-large-up {
    margin-top: 25px;
  }

  &__item {
    margin-right: 10px;
  }
}

.about-company {
  width: 100%;
  margin: auto;
  margin-top: 40px;

  @include for-large-up {
    width: 1140px;
    margin-top: 43px;
  }
}

.additional-navigation {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;

  @include for-large-up {
    margin-top: 60px;
    margin-right: 34px;
    margin-bottom: 0;
    flex-direction: row;
  }

  &__column {
    margin-right: 29px;

    @include for-large-down {
      margin-bottom: 30px;
    }
  }
}

.footer-line {
  display: none;

  @include for-large-up {
    display: block;
    border: 1px solid #2b292d;
    width: 100%;
    margin: 0;
    opacity: 0.1;
  }
}

.nav-links {
  width: 265px;

  &__list {
    font-size: 18px;
    color: rgba(43, 41, 45, 0.6);
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-item {
      line-height: 35px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 18px;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;

  @include for-large-down {
    margin-left: 15px;
  }

  @include for-large-up {
    flex-direction: row;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
    align-items: center;
  }
}

.terms {
  display: flex;
  justify-content: space-between;
  width: 180px;
  height: 22px;
  font-size: 14px;

  @include for-large-up {
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 15px;
    height: 50px;
  }

  &__item {
    line-height: 22px;
    opacity: 0.6;
    text-decoration: none;
    color: #2b292d99;

    @include for-large-up {
      line-height: 50px;
      text-decoration: none;
    }
  }
}

.social-links {
  @include for-large-down {
    margin-top: 31px;
    margin-bottom: 23px;

    @include for-large-up {
      margin-left: auto;
    }
  }
  &__item {
    margin-right: 20px;

    @include for-large-up {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}
